
	<h1> 
		<%= label :title, "Title:" %>
	 	<%= @article.title %> 

	</h1>
	<p>
		<%= label :article_url, "Article Url:" %>
		<%= link_to @article.url, @article.url %>
	
	</p>
	<p> 
		<%= label :description, "Description:" %>
		<%= @article.description %> 
	
	</p>
	<h2>
		<%= label :article_type, "Article Type:" %>
		 <%= @article.article_type %> 
		
	</h2>
	<h2> 
		<%= label :article_category, "Article Category:" %>
		<%= @article.category %> 
	
	</h2>
	<h2> 
		<%= label :posted_by, "Posted by:" %>
		<%= @article.user.login %>
	</h2>

    <div>
      
    </div>
    <% if current_user  %>
        <% if @user.voted_on_article?(@article) %>
            <%# vote_id = current_user.votes.find_by_article(@article) %>
            <%# @vote.value %>
            <%= @vote = current_user.votes.find_by_article(@article)%>
            <%= debug @vote %>
            <%# render :partial => "votes/edit_vote", :locals => {:vote => @vote} %>
        <% else %>
            <div class="vote">
             <%= render :partial => "votes/new_vote", :locals => {:vote => Vote.new(:article_id => @article.id) } %>
            </div>
        <% end %>
    <% else  %>
        <h1>VOTING SCORES GOES HERE SINCE USER IS NOT LOGGED IN</h1>
    <% end %>

    <div id="comments">
    <%= render :partial => 'comments/comments', :collection => @article.comments %>
    </div>

    <% if current_user %>
    <div id="new_comment">
    <%= render :partial => "comments/new_comment", :locals => {:comment => Comment.new(:article_id => @article.id) } %>
    </div>
    <% else  %>
    <h1>If you'll like to post a comment on this article, please consider registering :-)</h1>
    <% end %>