<h1>You have already voted on this article, would you like to change your vote?</h1>


<% form_for(@vote, :url => {:controller => 'votes', :action => 'update'}) do |f| %>

    <%= error_messages_for :vote %>

    <p><%= f.hidden_field :article_id %></p>
    <p>
      <%= f.label :value, "This is what you voted: "%>
      <%= f.select :value, {"1" => "1","2" => "2","3" => "3","4" => "4", "5" => "5"}, :selected => @vote.value.to_s %>
    </p>
    <p>
       <%= f.submit "Cloud-it!" %>
    </p>

<% end %>